.mobiles {
    background-image: url('navi.jpg'); 
    font-family: Arial, sans-serif;
    margin-top: 0%;
    padding: 0;
    background-color: #e9eede;
   
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  
   
  }
  
  .MOBI {
    background-color: #faf0f0bd;
    max-width: 650px;
    /* opacity: 1; */
    margin: 0 auto;
    font-weight: bold;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2, h3 {
    color: #000000;
    
  }
  .transmission_option{
    display: flex;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  
  .INPUT {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
  
  .predictPrice{
    width:50%;
  }
  
  
  .BTC {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .BTCn:hover {
    background-color: #0056b3;
  }